body {
	margin: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	background-color: #6e072d;
	color: white;
	font-size: 18px;
}

ul {
	display: flex;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	padding: 18px 27px;
	cursor: pointer;
}

li:hover {
	background-color: #b90e4d;
}

.left li:not(:first-child) {
	border-left: 2px solid white;
}

.right li:not(:last-child) {
	border-right: 2px solid white;
}
