/*  your css code here. If applicable */
body
{
	margin:0;
}

nav
{
	display: flex;
	justify-content: space-between;
	margin: 0;
	background-color: #6e072d;
	color: white;
	font-size: 18px;
	
}

ul
{
	display: flex;
}

li
{
	list-style: none;
	border: 2px solid white;
	
}

li:hover
{
	background-color: #b90e4d;
}

