/*  your css code here. If applicable */
body
{
	margin:0;
}

nav
{
	display: flex;
	justify-content: space-between;
	margin: 0;
	background-color: #6e072d;
	color: white;
	font-size: 18px;
	
}

ul
{
	display: flex;
	padding: 0;
	
}

li
{
	list-style: none;
	height: 100%;
	
}

li:hover
{
	background-color: #b90e4d;
	cursor: pointer;
}

.left li
{
	border-left: 2px solid white;
}

.right li
{
	border-right: 2px solid white;
}



